PUBLIC_TEST_USER_EMAIL=
PUBLIC_TEST_USER_PASSWORD=

# Supabase
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_ANON_KEY=

# Triplit CLI Variables
TRIPLIT_DB_URL=
TRIPLIT_ANON_TOKEN=
TRIPLIT_SERVICE_TOKEN=

# App variables
VITE_TRIPLIT_SERVER_URL=$TRIPLIT_DB_URL
VITE_TRIPLIT_TOKEN=$TRIPLIT_ANON_TOKEN