PUBLIC_TEST_USER_EMAIL=
PUBLIC_TEST_USER_PASSWORD=

# Convex
PUBLIC_CONVEX_URL=

# Jazz
PUBLIC_JAZZ_SYNC_URL=
JAZZ_API_KEY=
JAZZ_AUTH_WORKER_ACCOUNT_ID=
JAZZ_AUTH_WORKER_ACCOUNT_SECRET=
JAZZ_AUTH_SYNC_SERVER=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
