@layer base {
	@media (prefers-reduced-motion) {
		::view-transition-group(*),
		::view-transition-old(*),
		::view-transition-new(*) {
			animation: none !important;
		}
	}

	@keyframes view-move-in-from-left {
		from {
			transform: translateX(-100%);
		}
	}

	@keyframes view-move-in-from-right {
		from {
			transform: translateX(100%);
		}
	}

	@keyframes view-move-out-to-left {
		to {
			transform: translateX(-100%);
		}
	}

	@keyframes view-move-out-to-right {
		to {
			transform: translateX(100%);
		}
	}

	@keyframes view-move-in-from-bottom {
		from {
			transform: translateY(50%);
			opacity: 0;
		}
	}

	@keyframes view-move-out-to-bottom {
		to {
			transform: translateY(50%);
			opacity: 0;
		}
	}

	@keyframes fade-in {
		from {
			opacity: 0;
		}
	}

	@keyframes fade-out {
		to {
			opacity: 0;
		}
	}

	:root {
		--view-move-base-animation: 500ms var(--ease-out-quint) both;
		--view-move-in-from-left: var(--view-move-base-animation) view-move-in-from-left;
		--view-move-in-from-right: var(--view-move-base-animation) view-move-in-from-right;
		--view-move-out-to-left: var(--view-move-base-animation) view-move-out-to-left;
		--view-move-out-to-right: var(--view-move-base-animation) view-move-out-to-right;
		--view-move-in-from-bottom: var(--view-move-base-animation) view-move-in-from-bottom;
		--view-move-out-to-bottom: var(--view-move-base-animation) view-move-out-to-bottom;
		--view-fade-in: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in;
		--view-fade-out: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
	}

	html:active-view-transition-type(main-slide-in-from-right) {
		&::view-transition-old(main) {
			animation: var(--view-move-base-animation) view-move-out-to-left;
		}

		&::view-transition-new(main) {
			animation: var(--view-move-base-animation) view-move-in-from-right;
		}
	}

	html:active-view-transition-type(main-slide-in-from-left) {
		&::view-transition-old(main) {
			animation: var(--view-move-base-animation) view-move-out-to-right;
		}

		&::view-transition-new(main) {
			animation: var(--view-move-base-animation) view-move-in-from-left;
		}
	}

	html:active-view-transition-type(training-log-slide-in-from-right) {
		&::view-transition-old(training-log) {
			animation: var(--view-move-base-animation) view-move-out-to-left;
		}

		&::view-transition-new(training-log) {
			animation: var(--view-move-base-animation) view-move-in-from-right;
		}
	}

	html:active-view-transition-type(training-log-slide-in-from-left) {
		&::view-transition-old(training-log) {
			animation: var(--view-move-base-animation) view-move-out-to-right;
		}

		&::view-transition-new(training-log) {
			animation: var(--view-move-base-animation) view-move-in-from-left;
		}
	}

	html:active-view-transition-type(workout) {
		&::view-transition-old(workout) {
			animation: var(--view-move-base-animation) view-move-out-to-bottom;
		}

		&::view-transition-new(workout) {
			animation: var(--view-move-base-animation) view-move-in-from-bottom;
		}
	}
}
